:root {
    --color-primary: #235ad1;
    --color-accent: #041945;
}

p,
a {
    color: white;
}

header {
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    background-color: var(--color-primary);
}

.site-title {
    font-family: "Pacifico", cursive;
    font-size: 5vh;
}

.block {
    background-color: var(--color-primary);
    padding: 2vh 1vw;
    margin-bottom: 1vh;
    border-radius: 1vw;
}

.anti-grow-col {
    flex-grow: unset;
    flex-shrink: unset;
    flex-basis: content;
}

.names {
    font-family: "Caveat", cursive;
    font-size: 4vh;
}

.names-links {
    align-content: center;
    font-family: "Bad Script", cursive;
    font-size: 2vh;
}

.link-names {
    font-family: "Bad Script", cursive;
    margin: 0;
    font-size: 2vh;
}

.descript {
    font-family: "Caveat", cursive;
    font-size: 3vh;
}

.links {
    text-decoration: none;
    font-size: 2vh;
}

.links:hover {
    color: var(--color-accent);
}

footer {
    background-color: var(--color-primary);
    text-align: center;
    margin-bottom: 0;
    border-radius: 1vw 1vw 0 0;
    padding-bottom: 0;
}

footer p {
    font-family: "Caveat", cursive;
    font-size: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

@media (min-width: 700px) {
    main {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (max-width: 699px) {
    main {
        padding: 0;
    }
}