:root {
    --color-primary: #235ad1;
    --color-accent: #041945;
    --color-secondary: #24a9ce;
    --color-shadow: #04194537;
}

p,
a {
    color: white;
}

i{
    margin-left: 1vw;
}

header {
    margin-bottom: 3vh;
    padding: 1vh 1vw;
    border-radius: 0 0 1vw 1vw;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    box-shadow: 12px 12px 2px 1px var(--color-shadow);
}

.site-title {
    font-family: "Pacifico", cursive;
    font-size: 5vh;
    text-shadow: var(--color-shadow) 10px 10px;
}

.block {
    padding: 2vh 1vw;
    margin-bottom: 1vh;
    border-radius: 1vw;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    box-shadow: 12px 12px 2px 1px var(--color-shadow);
}

.anti-grow-col {
    flex-grow: unset;
    flex-shrink: unset;
    flex-basis: content;
}

.names {
    font-family: "Caveat", cursive;
    font-size: 4vh;
}

.names-links {
    align-content: center;
    font-family: "Bad Script", cursive;
    font-size: 2vh;
}

.link-names {
    font-family: "Bad Script", cursive;
    margin: 0;
    font-size: 2vh;
}

.descript {
    font-family: "Caveat", cursive;
    font-size: 3vh;
    text-shadow: var(--color-shadow) 0 0 5px;
}

.links {
    text-decoration: none;
    font-size: 2vh;
}

.links:hover {
    color: var(--color-accent);
}

footer {
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    text-align: center;
    margin-bottom: 0;
    border-radius: 1vw 1vw 0 0;
    padding-bottom: 0;
    box-shadow: 12px 12px 2px 1px var(--color-shadow);
}

footer p {
    font-family: "Caveat", cursive;
    font-size: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

@media (min-width: 700px) {
    main {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (max-width: 699px) {
    main {
        padding: 0;
    }
}